@import url(global.css);

section {
    position: relative;

    display: flex;
    width: 99%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: var(--fontSizeBig);
    font-family: "PoppinsBold";
    color: var(--black-color);
    margin: 0;
}

#homeTitle {
    height: 17vh;
}

#homeTitle > span {
    background: var(--gradiant-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "PoppinsBold";
    font-weight: 700;
    line-height: normal;
}

.post {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.post__ctn {
    font-family: "Poppins";
    position: relative;
    margin-top: 15px;
    width: 10%;
    height: auto;
    padding: 1vw 1vw 0.3vw 1vw;
    background-color: var(--grey-color);
    filter: drop-shadow(0px 6px 13.6px rgba(0, 0, 0, 0.05));
    border-radius: 33px;
    @media screen and (max-width: 1700px) {
        border-radius: 23px;
    }
}

.post__ctn > h2 {
    margin-top: 0;
    font-size: var(--fontSizeMedium);
}

.post__ctn > p {
    font-size: var(--fontSizeSmall);
}

#link,
#link:visited,
#link:hover,
#link:active,
#link:focus {
    color: var(--black-color);
    text-decoration: none;
}

#author,
#date {
    font-size: var(--fontSizeSmaller);
}

.action {
    position: absolute;
    bottom: 5px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 1.3vw;
    height: 5vh;
    @media screen and (max-width: 1700px) {
        bottom: 10px;
    }
}

.action > .modify,
.action > .delete {
    width: 70%;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action > .modify {
    border: 3px solid var(--black-color);
    @media screen and (max-width: 1700px) {
        border: 2px solid var(--black-color);
    }
}

.action > .modify > span {
    margin-top: -2px;
    text-align: center;
    line-height: 0px;
    height: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s ease;
    @media screen and (max-width: 1700px) {
        line-height: 5px;
        font-size: 1rem;
    }
}

.action > .modify > span:hover {
    letter-spacing: 2px;
}

.action > .delete {
    border: 3px solid var(--purple-color);
    @media screen and (max-width: 1700px) {
        border: 2px solid var(--purple-color);
    }
}

.action > .delete > span {
    transform: rotate(45deg);
    line-height: 0px;
    height: 10px;
    line-height: 10px;
    font-size: 2rem;
    color: var(--purple-color);
    transition: 0.3s ease;
    cursor: pointer;
    @media screen and (max-width: 1700px) {
        font-size: 1.3rem;
        margin-left: 1px;
    }
}

.action > .delete > span:hover {
    transform: rotate(135deg);
}

.post__add {
    position: absolute;
    bottom: 10vh;
    width: 40%;
    height: 20%;
}

#formAdd {
    width: 100%;
    height: 20vh;
}

.label__tellUs {
    font-family: "Poppins";
    font-size: var(--fontSizeMedium);
}

.post__content {
    display: flex;
    height: 18vh;
    padding-top: 1.5vh;
    flex-direction: column;
    align-items: center;
    background-color: var(--grey-color);
    border-radius: 0 0 3rem 3rem;
    outline: none;
    border: 3px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-image-source: var(--gradiant-color);
}

#title,
#textarea {
    width: 90%;
    background-color: inherit;
    border: none;
    overflow: auto;
    outline: none;
    resize: none;
    font-family: "Poppins";
}

#title {
    font-size: var(--fontSizeMedium);
}

#textarea {
    font-size: var(--fontSizeSmall);
    height: 60%;
}

.post__content > button {
    font-family: "PoppinsBold";
    text-transform: uppercase;
    border-radius: 3rem;
    margin: 20px;
    width: 90%;
    height: 5vh;
    border: none;
    font-size: var(--fontSizeSmall);
    background: var(--gradiant-color);
    color: var(--white-color);
    cursor: pointer;
}

.user {
    position: absolute;
    display: flex;
    top: 1vw;
    right: 1vw;
    width: 2.5vw;
    height: 2.5vw;
}

.user__profil,
.user__logout {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    font-family: "PoppinsBold";
    font-size: 1.5vw;
}
.user__logout {
    z-index: 1;
    border: 6px solid var(--purple-color);
    transform: rotate(45deg);
    color: var(--purple-color);
}

.user__profil {
    z-index: 3;
    background: var(--gradiant-color);
    color: var(--white-color);
    transition: 0.4s ease-in-out;
}

.user__profil:hover {
    opacity: 0;
}

a,
a:active,
a:focus,
a:visited {
    color: inherit;
    text-decoration: none;
}

#modifyForm {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#modifyForm > input,
#modifyForm > textarea {
    font-family: "Poppins";
    background-color: inherit;
    border: none;
    border-bottom: 3px solid var(--purple-color);
    color: var(--purple-color);
    font-size: var(--fontSizeSmall);
}

#modifyForm > textarea {
    resize: none;
    height: 100%;
    font-size: var(--fontSizeSmaller);
    margin-bottom: 5px;
}

#modifyForm > input:focus,
#modifyForm > textarea:focus {
    outline: 2px solid var(--purple-color);
}

#modifyBtn {
    font-family: "PoppinsBold";
    text-transform: uppercase;
    border-radius: 3rem;
    height: 3vh;
    border: none;
    font-size: var(--fontSizeSmall);
    background: var(--gradiant-color);
    color: var(--white-color);
    cursor: pointer;
}
